extends base.pug
include mixins/video
                
block content 
    div.video-grid
        each video in videos
            +video(video)
        else 
            sapn.empry__message No videos found